USE [master]
GO
/****** Object:  Database [lab_variant_4]    Script Date: 14.11.2016 21:09:38 ******/
CREATE DATABASE [lab_variant_4]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [lab_variant_4].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [lab_variant_4]
GO
/****** Object:  Table [dbo].[Должность]    Script Date: 14.11.2016 21:09:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Должность](
	[id] [int] NOT NULL,
	[Название] [nchar](15) NOT NULL,
	[Полный рабочий день] [bit] NOT NULL,
	[Описание] [nchar](100) NULL,
 CONSTRAINT [PK_Должность] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Сотрудник]    Script Date: 14.11.2016 21:09:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сотрудник](
	[id] [int] NOT NULL,
	[Фамилия] [nchar](20) NOT NULL,
	[Имя] [nchar](20) NOT NULL,
	[Дата рождения] [date] NOT NULL,
	[Дата приема на работу] [date] NOT NULL,
	[Телефон] [nchar](11) NULL,
	[Должность] [int] NOT NULL,
 CONSTRAINT [PK_Сотрудник] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Сотрудник]  WITH CHECK ADD  CONSTRAINT [FK_Сотрудник_Должность] FOREIGN KEY([Должность])
REFERENCES [dbo].[Должность] ([id])
GO
ALTER TABLE [dbo].[Сотрудник] CHECK CONSTRAINT [FK_Сотрудник_Должность]
GO
USE [master]
GO
