USE [master]
GO
/****** Object:  Database [lab_oborin]    Script Date: 14.10.2016 20:29:05 ******/
CREATE DATABASE [lab_oborin]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [lab_oborin].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [lab_oborin]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 14.10.2016 20:29:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[Adress] [nchar](25) NOT NULL,
	[Room] [int] NOT NULL,
	[Phone] [int] NULL,
	[Corpus] [int] NOT NULL,
 CONSTRAINT [PK_Class] PRIMARY KEY CLUSTERED 
(
	[Adress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Components]    Script Date: 14.10.2016 20:29:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Components](
	[Specifications] [nchar](50) NULL,
	[ID] [int] NOT NULL,
	[InstallationDate] [date] NULL,
	[Information] [nchar](50) NULL,
	[PlaceNumber] [nchar](10) NULL,
	[ClassAdress] [nchar](25) NOT NULL,
 CONSTRAINT [PK_Components] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Place]    Script Date: 14.10.2016 20:29:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Place](
	[Number] [nchar](10) NOT NULL,
	[Name] [nchar](10) NOT NULL,
	[IP] [int] NOT NULL,
	[ClassAdress] [nchar](25) NOT NULL,
 CONSTRAINT [PK_Place1] PRIMARY KEY CLUSTERED 
(
	[Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Components]  WITH CHECK ADD  CONSTRAINT [FK_Components_Class] FOREIGN KEY([ClassAdress])
REFERENCES [dbo].[Class] ([Adress])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Components] CHECK CONSTRAINT [FK_Components_Class]
GO
ALTER TABLE [dbo].[Components]  WITH CHECK ADD  CONSTRAINT [FK_Components_Place] FOREIGN KEY([PlaceNumber])
REFERENCES [dbo].[Place] ([Number])
GO
ALTER TABLE [dbo].[Components] CHECK CONSTRAINT [FK_Components_Place]
GO
ALTER TABLE [dbo].[Place]  WITH CHECK ADD  CONSTRAINT [includes] FOREIGN KEY([ClassAdress])
REFERENCES [dbo].[Class] ([Adress])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Place] CHECK CONSTRAINT [includes]
GO
ALTER TABLE [dbo].[Components]  WITH CHECK ADD  CONSTRAINT [CK_Components] CHECK  (([PlaceNumber]<>NULL AND [InstallationDate]<>NULL OR [PlaceNumber]=NULL AND [InstallationDate]=NULL))
GO
ALTER TABLE [dbo].[Components] CHECK CONSTRAINT [CK_Components]
GO
USE [master]
GO
